@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* #7156e4, #b8a3f6 */
.gradient-header {
  cursor: pointer;
  transition: color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
}

.gradient-header:hover {
  background: linear-gradient(to right, #9879f1, #b8a3f6); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  cursor: pointer;
  text-decoration: none; 
}


.gradient-text {
  cursor: pointer;
  transition: color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  text-decoration: none;
}

.gradient-text:hover {
  background: linear-gradient(to right, #b8a3f6, #b8a3f6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
